<a href="https://colab.research.google.com/github/Kesh1565/-Letsupgrade-AL-ML/blob/master/Day_3_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to subtract two complex numbers in Python.

In [3]:
z1= complex(5,3) 
z2= complex(3,2)
y=z1-z2
print('the subtraction is:', y)

the subtraction is: (2+1j)

2. Write a program to find the fourth root of a number

In [7]:
x=250
b=4
y=x**(1/(b))
print('the fourth root of x is:', y)

the fourth root of x is: 3.976353643835253

3. Write a program to swap two numbers in Python with the help of a temporary variable

In [12]:
x=3
y=4
i=x
x=y
y=i
print("the value of x after swapping is ", x)
print("the value of y after swapping is ", y)

the value of x after swapping is  4
the value of y after swapping is  3

4. Write a program to swap two numbers in Python without using a temporary variable.

In [18]:
x=6
y=5
x=x+y
y=x-y
x=x-y
print("the value of x after swapping is ", x)
print("the value of y after swapping is ", y)

the value of x after swapping is  5
the value of y after swapping is  6

5. Write a program to convert fahrenheit to kelvin and celsius both.

In [22]:
tf=60
tk = (tf+459.67)*5/9
tc = (tf-32)/9/5
print("the converter kelvin value is:", tk)
print("the converter celsius value is:", tc)

the converter kelvin value is: 288.7055555555556
the converter celsius value is: 0.6222222222222222

6. Write a program to demonstrate all the available data types in Python. Hint: Use type() function.

In [26]:
a=100
b=10.53
c="letsupgrade"
d=3+2j
f=(1,2,3,4)
g=[2,5,67,8]
h={1,5,7,8,5}
print("the data type for 100 is:",type(a))
print("the data type for 10.53 is:",type(b))
print("the data type for letsupgrade is:",type(c))
print("the data type for 3+2j is:",type(d))
print("the data type for (1,2,3,4) is:",type(f))
print("the data type for [2,5,67,8]  is:",type(g))
print("the data type for {1,5,7,8,5} is:",type(h))

the data type for 100 is: <class 'int'>
the data type for 10.53 is: <class 'float'>
the data type for letsupgrade is: <class 'str'>
the data type for 3+2j is: <class 'complex'>
the data type for (1,2,3,4) is: <class 'tuple'>
the data type for [2,5,67,8]  is: <class 'list'>
the data type for {1,5,7,8,5} is: <class 'set'>