Question 2 :
Write a Python program to implement 15 functions of string

In [7]:
k1 = "Deep learning"
k2 = "lets upgrade"
print(k1.swapcase())
print(k1+k2)
print(len(k1))
print(k1.find('l'))
print(k1.lower())
print(k1.upper())
print(k1.isdigit())
print(k1.isalpha())
print(k1.replace('l','z'))
print(k2.isspace())
print(k2.title())
print(k2.split(" "))
print(k1.join(k2))
print(k1.strip('deep'))

dEEP LEARNING
Deep learninglets upgrade
13
5
deep learning
DEEP LEARNING
False
False
Deep zearning
False
Lets Upgrade
['lets', 'upgrade']
lDeep learningeDeep learningtDeep learningsDeep learning Deep learninguDeep learningpDeep learninggDeep learningrDeep learningaDeep learningdDeep learninge
Deep learning

Question 3:
Write a Python program to check if the given string is a Palindrome or Anagram or None of them.
Display the message accordingly to the user.

In [33]:
# Palindrome_and_Anagram
str1=str(input("enter first word."))
str2=str(input("enter second word."))
k2=str1[::-1]
if str1==k2:
    print(str1," first word is a palindrome")
else:
    print(str1," first word is not a palindrome")
k4=str2[::-1]
if str2==k4:
    print(str2," second word is a palindrome")
else:
    print(str2," second word is not a palindrome")
def areAnagram(str1, str2):  
   
    n1 = len(str1)  
    n2 = len(str2)  
   
    if n1 != n2:  
        return 0
  
   
    str1 = sorted(str1) 
    str2 = sorted(str2) 
  
 
    for i in range(0, n1):  
        if str1[i] != str2[i]:  
            return 0
  
    return 1
    
if areAnagram(str1, str2):  
    print ("The two strings are anagram of each other") 
else:  
    print ("The two strings are not anagram of each other")

enter first word.nitin
enter second word.tinni
nitin  first word is a palindrome
tinni  second word is not a palindrome
The two strings are anagram of each other

Question 1 :
Write a Python program to find the first 20 non-even prime natural numbers

In [25]:
from sympy import isprime
count=0
for k in range(100):
  if(isprime(k) and count< 20):
    if k%2 !=0:
      print(k)
      count+=1

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73

Question 4:
Write a Python's user defined function that removes all the additional characters from the string
and converts it finally to lower case using built-in lower(). eg: If the string is "Dr. Darshan Ingle
@AI-ML Trainer", then the output be "drdarshaningleaimltrainer".

In [28]:

def replace_char(j):
  invaild_set = [ '!','@','#','$','%','^','&','*','(',')','_','+','{','}','[',']',',',' ','.','-']
  for i in invaild_set:
    j=j.replace(i,'')
    j=j.lower()
  print("after removing all special character from the given string ")
  print("resultant string is :",j )
s= "Dr. Darshan Ingle @AI-ML Trainer"
print("string is:", s)
replace_char(s)

string is: Dr. Darshan Ingle @AI-ML Trainer
after removing all special character from the given string
resultant string is : drdarshaningleaimltrainer